<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <div class="form group">
  
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
 
  <div class="form group">
    <%= f.label :description, class: 'form-control' %><br>
    <%= f.text_area :description, class: 'form-control', rows: 8 %>
  </div>

  <div class="form group">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>

 <div class="form group">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>

 <div class="form group">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
 
  <div class="form group">
    <%= f.submit "Add Event", class: 'btn' %>
  
  </div>
<% end %>